{% block form_row %}
    {% spaceless %}
        <div class="control-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock form_row %}

